@{
    Layout = null;
}
 
<!DOCTYPE html>
 
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Test task</title>
</head>
<body>
    <div>
        <h3>Test task</h3>
        <table>
            <tr><td colspan = "2"><p>Показатели Заемщика</p></td>
                <td><p>Валюта</p></td>
                <td><p>ИНДЕКСЫ</p></td>
            </tr>
            <tr><td><p>Дата</p></td>
                <td><p>Выручка</p></td>
                <td><p>серебро, руб. </p></td>
                <td>"Индекс ММВБ Last"</td>
            </tr>
            @foreach (var d in ViewBag.Data)
            {
            <tr>
                <td><p>@d.BusinessDay.ToShortDateString()</p></td>
                <td><p>@d.Profit</p></td>
                <td><p>@d.SilverPrice</p></td>
                <td><p>@d.MoexPrice</p></td>
            </tr>
            }
        </table>
    </div>
</body>
</html>