table {
    border-spacing: 0px;
}

td {
    border: solid windowtext 1.0px;
}

.header1 {
    background: #006600;
    font-weight: bold;
    color: white;
}

.header2 {
    background-color: rgb(196, 215, 155);
}
